aiobotocore==0.5.2
aiohttp==2.3.9
asynctest==0.11.1
bleach==2.1.2
dsnparse==0.1.11
motor==1.2.1
pytest==3.3.2
pytest-cov==2.5.1
pytest-aiohttp==0.3.0
python-dateutil==2.6.1
PyYAML==3.12
Sphinx==1.7.0b1
sqlalchemy-aio==0.11.0
websockets==4.0.1
