<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8"> 
        <title>Livebridge - Control Dashboard</title>

        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="/dashboard/vendor/bootstrap-4.0.0-beta.3.min.css">
        <link rel="stylesheet" href="/dashboard/lb.css" />
    </head>
    <body>
        <div id="content">
            <header>
                <nav class="navbar navbar-expand-lg navbar-dark bg-dark  justify-content-between">
                    <a class="navbar-brand" href="./">Livebridge</a>
                    <div class="col-10 mx-auto" v-if="loggedIn === true">
                        <ul class="nav navbar-nav" role="tablist">
                            <li class="nav-item active">
                                <a class="nav-link" id="bridges-tab" data-toggle="tab" href="#bridges" role="tab"
                                    aria-controls="bridges" aria-selected="false">Sources</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="accounts-tab" data-toggle="tab" href="#accounts" role="tab" aria-controls="accounts"
                                    aria-selected="true">Accounts</a>
                            </li>
                            <li class="nav-item ml-auto">
                                <a class="nav-link" id="json-tab" data-toggle="tab" href="#json" role="tab" aria-controls="json"
                                    aria-selected="true" @click="fillJSONForm($event)">JSON</a>
                            </li>
                        </ul>
                    </div>
                    <ul class="nav navbar-nav justify-content-end" v-if="loggedIn === true">
                        <li><a class="nav-link" href="#" v-on:click="logout()">Logout</a></li>
                    </ul>
                </nav>
            </header>

            <div id="control">
                <div class="tab-content" v-if="loggedIn === true">
                    <div class="tab-pane active" id="bridges" role="tabpanel" aria-labelledby="bridges-tab">
                        <div id="add-btn">
                            <button type="button" class="btn btn-sm btn-success" data-toggle="modal" data-target="#bridge-add-form">
                                Add new source</button>
                        </div>
                        <div is="bridge" v-for="(bridge, index) in control_data.bridges" v-bind:bridge="bridge"
                               v-bind:index="index" :key="'bridge-'+bridge.type+'-'+bridge.label" :id="'bridge-'+index">
                        </div>
                        <bridge-form v-bind:index="-1" id="bridge-add-form"></bridge-form>
                    </div>
                    <div class="tab-pane" id="accounts" role="tabpanel" aria-labelledby="accounts-tab">
                        <div id="add-btn">
                            <input type="text" v-model="new_auth_key" placeholder="service name"/>
                            <button type="button" class="btn btn-sm btn-success" data-toggle="modal" data-target="#auth-add-form"
                                @click="checkNewAuthName(new_auth_key, $event)">
                                    Add new auth credentials</button>
                        </div>
                        <div is="auth" v-for="(auth, name, index) in control_data.auth" v-bind:name="name" v-bind:auth="auth"
                                       v-bind:index="index" :id="'auth-'+index">
                        </div>
                        <auth-form v-bind:name="new_auth_key" v-bind:mode="'add'" id="auth-add-form"></auth-form>
                    </div>
                    <div class="tab-pane" id="json" role="tabpanel" aria-labelledby="json-tab">
                        <div class="form-group" id="json-form">
                            <textarea class="form-control" v-model="json_str" rows="40" id="json-edit-doc"></textarea>
                        </div>
                        <div class="form-group">
                            <button type="button" class="btn btn-primary" @click="saveJSON()">
                                Save document</button>
                        </div>
                    </div>
                </div>
                <template v-if="edited">
                    <footer>
                        <nav class="navbar navbar-expand-lg navbar-light fixed-bottom hidden" id="footer-bar">
                            <div class="collapse navbar-collapse justify-content-end" id="form-controls">
                                <button type="button" class="btn btn-secondary" @click="undoChanges()">Cancel</button>&nbsp;
                                <button type="button" class="btn btn-danger" @click="saveNewControlData()" data-toggle="collapse"
                                    data-target="#saved-modal" aria-expanded="false" aria-controls="#saved-modal">
                                    Save changes</button>
                            </div>
                        </nav>
                    </footer>
                </template>
                <form class="form-signin" v-on:submit.prevent v-if="loggedIn === false">
                    <h4 class="form-signin-heading">Please sign in</h4>
                    <label for="loginName" class="sr-only">Username</label>
                    <input v-model="loginUser" type="text" id="loginName" class="form-control" placeholder="Username" required>
                    <label for="loginPassword" class="sr-only">Password</label>
                    <input v-model="loginPassword" type="password" id="loginPassword" class="form-control" placeholder="Password" required>
                    <button class="btn btn-lg btn-primary btn-block" type="submit" v-on:click="login()">Sign in</button>
                </form>
                <flash-message v-bind:message="message"></flash-message>
            </div>
        </div>

        <script src="/dashboard/vendor/vue-v2.5.13.min.js"></script>
        <script src="/dashboard/vendor/axios-0.17.1.min.js"></script>
        <script src="/dashboard/lb.js"></script>
        <script src="/dashboard/vendor/jquery-3.2.1.slim.min.js"></script>
        <script src="/dashboard/vendor/popper-1.12.9.js"></script>
        <script src="/dashboard/vendor/bootstrap-4.0.0-beta.3.min.js"></script>
    </body>
</html>


