body {
  background-color: #eee;
}
#control {
    margin:10px;
}
.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
#control {
	margin-top: 10px;
}
.bridge, .auth {
	margin-bottom: 10px;
	background-color: #DDD;
}
.bridge.edited .card {
	background-color: #ffd6cc;
}
tr.target {
	background-color: #EEE !important;
}
tr.edited {
	background-color: #ffd6cc !important;
}
.auth.edited .card {
	background-color: #ffd6cc;
}
#add-btn {
    margin-bottom:10px;
}
.source {
	padding-left: 10px;
}
.targets {
	margin-top: 10px;
}
.target-prop {
}
#footer-bar {
	background-color: #DBDBDB;
}

